<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /newui/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /newui/index.html [L]
</IfModule>


